<h1>Editing recebimento</h1>

<%= render "form", recebimento: @recebimento %>

<br>

<div>
  <%= link_to "Show this recebimento", @recebimento %> |
  <%= link_to "Back to recebimentos", recebimentos_path %>
</div>
