<h1>Editando recebimento</h1>

<%= render "form", recebimento: @recebimento %>

<br>

<div>
  <%= link_to "Consultar recebimento", @recebimento %> |
  <%= link_to "Voltar para recebimentos", recebimentos_path %>
</div>
