<div id="<%= dom_id convenio %>">
  <p>
    <strong>Nome:</strong>
    <%= convenio.nome %>
  </p>

  <p>
    <strong>Valor atendimento:</strong>
    <%= convenio.valor_atendimento %>
  </p>

  <p>
    <% if convenio.usa_guia %>
      <strong>Esse convênio Usa Guias</strong>
    <% end %>
  </p>

</div>
