<h1>Editando evolucao tipo</h1>

<%= render "form", evolucao_tipo: @evolucao_tipo %>

<br>

<div>
  <%= link_to "Consultar evolucao tipo", @evolucao_tipo %> |
  <%= link_to "Voltar para evolucao tipos", evolucao_tipos_path %>
</div>
