<h1>Editing evolucao tipo</h1>

<%= render "form", evolucao_tipo: @evolucao_tipo %>

<br>

<div>
  <%= link_to "Show this evolucao tipo", @evolucao_tipo %> |
  <%= link_to "Back to evolucao tipos", evolucao_tipos_path %>
</div>
